<div class="row">
	<div class="jumbotron-bg">
		<div class="col-sm-4 col-sm-offset-4 sign-in-container">
			<output [data]="_output"></output>
			<h2 class="text-center login-title">Sign in to continue to Geekbread</h2>
			<h4 class="text-center">Not a user? Register <a routerLink="/register">here!</a></h4>
			<form #signInForm="ngForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" 
								 class="form-control" 
								 name="email"
								 placeholder="Email" 
								 required 
								 autofocus
								 [(ngModel)]="_signInData.email">
				</div>
				<div class="form-group">
					<input type="password" 
								 class="form-control" 
								 name="password"
								 placeholder="Password" 
								 [(ngModel)]="_signInData.password"
								 required>
			
				</div>
				<button class="btn btn-lg btn-primary btn-block" 
								type="submit"
								[disabled]="!signInForm.form.valid">
				Sign in
				</button>
			</form>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-sm-4 vertical-align screenshot-formula promo-box">
    <h2 class="text-center overlay-text-black overlay-text-white-bg">Manage your formulas like a modern baker</h2>
  </div>
  <div class="col-sm-4 vertical-align promo-box">
		<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
		<h2 class="text-center overlay-text-black">Scale recipes to fit your needs</h2>
		<div class="inline-block bread-display">
			<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
			<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
			<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
			<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
			<img src="/assets/bread.png" class='bread-icon' aria-hidden="true" />
		</div>
  </div>
  <div class="col-sm-4 vertical-align promo-box devices">
    <h2 class="text-center overlay-text-white">Access your formulas from anywhere</h2>
  </div>
</div>
