<h2>My Recipes</h2>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
<table class="table">
  <tbody>
  <tr *ngFor="let recipe of recipes" >
    <td (click)="onSelect(recipe)"><a>{{recipe.name}}</a></td>
    <td>
      <button (click)="deleteRecipe(recipe)" class="btn btn-sm btn-warning">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<my-recipe-detail [recipe]="selectedRecipe"></my-recipe-detail>
New recipe name:
<input #newRecipeName />
<button (click)="addRecipe(newRecipeName.value); newRecipeName.value=''" class="btn btn-default btn-sm">Add</button>
