<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{errorMessage}}
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <ingredient-form [recipe]="recipe" (notify)="updateIngredients($event)"></ingredient-form>

    <div class='col-xs-12 well well-sm'>
      <h4>Total Dough Weight(grams)</h4> 
      <input #totalWeight class="form-control" 
             (keyup.enter)="submitTotalDoughWeight(totalWeight.value)" 
             placeholder="2000"/>
      <button (click)= "submitTotalDoughWeight(totalWeight.value)" class="btn btn-primary btn-sm">Calculate</button>
    </div>
  </div>

  <div class="col-md-8">
    <div class="col-xs-12" *ngIf="prefermentIngredients?.length > 0">
      <h3>Preferment</h3>
    </div>
    <ingredient-table [ingredients]="prefermentIngredients" (notify)="updateIngredients($event)"></ingredient-table>

    <div class="col-xs-12">
      <h3>Dough Formula</h3>
    </div>
    <ingredient-table [ingredients]="baseIngredients" (notify)="updateIngredients($event)"></ingredient-table>
  </div>

  <div *ngIf="ingredients?.length < 1" class="alert alert-info">
    You can add ingredients to this recipe below. When you are done you can enter the total dough weight above and calculate your dough! Recipes are saved automatically
  </div>
</div>


