<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorMessage">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{errorMessage}}
</div>

<div class='well well-sm'>
  Total Dough Weight(grams): <input #totalWeight (keyup.enter)="submitTotalDoughWeight(totalWeight.value)" placeholder="Enter weight"/>
<button (click)= "submitTotalDoughWeight(totalWeight.value)" class="btn btn-primary btn-sm">Calculate</button>
</div>

<div *ngIf="prefermentIngredients?.length > 0">
  <h3>Preferment</h3>
  <ingredient-table [ingredients]="prefermentIngredients" (notify)="updateIngredients($event)"></ingredient-table>
</div>

<div>
  <h3>Dough Formula</h3>
  <ingredient-table [ingredients]="baseIngredients" (notify)="updateIngredients($event)"></ingredient-table>
</div>

<div *ngIf="ingredients?.length < 1" class="alert alert-info">
  You can add ingredients to this recipe below. When you are done you can enter the total dough weight above and calculate your dough! Recipes are saved automatically
</div>

<div class="well well-sm">
  <ingredient-form [recipe]="recipe" (notify)="updateIngredients($event)"></ingredient-form>
</div>
