/* You can add global styles to this file, and also import other style files */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.vertical-align {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 300px;
}

.bread-icon {
  height: 30px;
  width: 30px;
  display: inline;
  margin-top: 15px;
}

.alert {
  text-shadow: none;
}
